<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
}
/* Style the Fonts */
h1 {
color: #111;
font-family: Georgia;
font-size: 50px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
}
h2 {
color: #111;
font-family: Georgia;
font-size: 30px;
font-weight: 300;
line-height: 32px;
margin: 0 0 72px;
text-align: center;
}

p {
font-family:'Helvetica Neue';
font-size: 25px;
font-weight: 300;
line-height: 32px;

}

/* Style the header */

.header {
  background-color: #E9967A;
  padding: 10px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #8B0000 ;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Helvetica Neue';
 font-size: 25px;
 font-weight: 300;
 line-height: 32px;
}

/* Change color on hover */
.topnav a:hover {
  background-color:  #E9967A;
  color: black;
}

/*Style Logo*/

body {
  padding: 0;
  margin: 0;
}

#container {
  width: 100vw;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

#logo {
  width: 25vh;
  height: 25vh;
  background-color:#8B0000;
  border-radius: 2vh;
  transform: rotate(45deg);

}

.line {
  background-color: white;
}

.circle {
  background-color: white;
  height: 5vh;
  width: 5vh;
  border-radius: 5vh;
}

#lineLong {
  top: 11.5vh;
  left: 2.5vh;
  height: 2vh;
  width: 80%;
  position: relative;
  transform: rotate(45deg);
}

#lineShort {
  top: 3vh;
  height: 2vh;
  width: 17.5vh;
  position: relative;
}

#circleOne {
  top: -0.5vh;
  left: 3.5vh;
  position: relative;
}

#circleTwo {
  top: -5.5vh;
  left: 16.5vh;
  position: relative;
}

#circleThree {
  top: 2.5vh;
  left: 16.5vh;
  position: relative;
}

/* Style the Buttons */
.button {
  background-color: white;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Helvetica Neue';
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color:#8B0000 ;
  color: white;
  border: 2px solid white;
}

.button:hover {
  background-color: #E9967A;
  color: black;
}


</style>
</head>
<body>


<div id="container">
    <div id="logo">
      <div id="lineLong" class="line"></div>
      <div id="lineShort"class="line"></div>
      <div id="circleOne" class="circle"></div>
      <div id="circleTwo" class="circle"></div>
      <div id="circleThree" class="circle"></div>
    </div>
  </div>

</body>
</html>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* Style the Fonts */
h1 {
color: #111;
font-family: Georgia;
font-size: 50px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
}
h2 {
color: #111;
font-family: Georgia;
font-size: 30px;
font-weight: 300;
line-height: 32px;
margin: 0 0 72px;
text-align: center;
}

p {
font-family:'Helvetica Neue';
font-size: 25px;
font-weight: 300;
line-height: 32px;

}

/* Style the images */
img {
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

/* Style the header */
.header {
  background-color: #E9967A;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #8B0000 ;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Helvetica Neue';
 font-size: 25px;
 font-weight: 300;
 line-height: 32px;
}

/* Change color on hover */
.topnav a:hover {
  background-color:  #E9967A;
  color: black;
}
/* Style the Buttons */
.button {
  background-color: white;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Helvetica Neue';
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color:#8B0000 ;
  color: white;
  border: 2px solid white;
}

.button:hover {
  background-color: #E9967A;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color:#8B0000;
  padding: 0px;
  text-align: center;
  color: white;
}
</style>
</head>
<body>
