* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin: 0 auto;
}

/* mycomfortability.css*/

#containerlogo {
  height: 40vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 200px;
 margin: 0 auto;
  }

#logo {
  width: 25vh;
  height: 25vh;
  background-color:#500;
  border-radius: 2vh;
  transform: rotate(45deg);

}

.line {
  background-color: white;
}

.circle {
  background-color: white;
  height: 5vh;
  width: 5vh;
  border-radius: 5vh;
}

#lineLong {
  top: 11.5vh;
  left: 2.5vh;
  height: 2vh;
  width: 80%;
  position: relative;
  transform: rotate(45deg);
}

#lineShort1 {
  top: 3vh;
  height: 2vh;
  width: 17.5vh;
  position: relative;
}
#lineShort2 {
  top: -7vh;
  left: -3.5vh;
  height: 2vh;
  width: 17.5vh;
  position: relative;
  transform: rotate(90deg);
}

#circleOne {
  top: -0.5vh;
  left: 3.5vh;
  position: relative;
}

#circleTwo {
  top: -5.5vh;
  left: 16.5vh;
  position: relative;
}

#circleThree {
  top: 2.5vh;
  left: 16.5vh;
  position: relative;
}
#circleFour {
  top: -2.5vh;
  left: 2.5vh;
  position: relative;
}

.content {
  display: flex;
  width: 100%;
  height: 70%;
}


.column11 {
  width: 20%;

}
.column12 {
  width: 70%;
}

/* Header/logo Title */
.header {
  padding:5%;
  text-align: center;
  background: white;
  color: #500;
  height:10%;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the navigation bar buttonss */
.navbar button {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar button.right {
  float: right;
}

/* Change color on hover */
.navbar button:hover {
  background-color: #ddd;
  color: black;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  height: 100vh;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.myimg {
  background-color: inherit;
  width: 100%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button.modalbt {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button.modalbt:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 15%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
#form01,#form02{padding: 2%;}
#siup{
  float: left;
  width: 20%;
  padding: 14px 20px;
  background-color: #7CFC00;
}
#cncl{
  float: left;
  width: 20%;
  padding: 14px 20px;
  background-color: #f44336;
}
@media screen and (max-width: 300px) {
  #siup,#cncl {
     width: 100%;
  }
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
